extends layout

block content
  input#pageGameId(type='hidden' value=gameId)
  input#pagePlayerId(type='hidden' value=playerId)
  input#pagePlayerName(type='hidden' value=username)
  body(class='background')
    div(class='row')

      div.score_game(class='col s2 btn-small waves-effect waves-dark')
        .a Score Game


      button(class='col s2 offset-s8 btn-small waves-effect waves-dark' type='submit') End Game
    div(class='row')
      div(class='card-panel teal lighten-2')
        h3(align='center') Welcome player "#{username}" to game [#{gameId}]
    
        div(class=' game-info card-panel teal lighten-2')
          div(class='row')
            div.current_turn(class='col s6')
            div.leading_suit(class='col s6')



      
      
      
      //-h4 Cards on Table
      div(class='fixed-height_2 teal')
        div(class='card')
          div.in_play_cards
            if inPlayCards
              each card in inPlayCards
                a.game-card(class=`card-${card.suit}-${card.value}` title=card.name data-card-id=card.id)


        

      div.player_message


      //- h4 Cards
      div(class='fixed-height_2 teal lighten-2')
        div(class='card')
          div.cards
            if player.cards
              each card in player.cards
                a.game-card(class=`card-${card.suit}-${card.value}` title=card.name data-card-id=card.id)

      //- h4 Players
      //- ul
      //-   each player in players
      //-     li= JSON.stringify(player)

      //- h4 Error
      //-   if error
      //-     p#error= error

      //- h4 Game State
      //- #game-state-listing
      //-   p= JSON.stringify(gameState)




    div(class='fixed-action-btn')
      a(class='btn-floating btn-large red' onclick='toggleMenu()')
        i(class='large material-icons') +

      div(id='toggle' class='col s6') 
        div(class='card-panel grey lighten-4') 
          h3(class='lobby-text') Chat:
          .chat-messages.has-text-left
            ul#messages
          form(id='chat-form')
            .field.has-addons
              input(id='room_id', type='hidden', value=0)
              //-input(id='name', type='hidden', value=user.username)
              p.control.is-expanded
                input(id='message', type='text', class='input' placeholder='Message')
              p.control
                input(class='btn-small waves-effect waves-dark', type='submit', value='Send')




      script(src='/scripts/chat.js')
      script(src='/scripts/game.js')

  