extends layout

block content

  h1 GameRoom: #{game_id} Created by: #{user.username} 

  section.section
    .container
      .columns
        .column.is-1 Team 1 
        .column.is-1 Score: 0
        .column.is-1 Bags: 0
        .column.is-1 Team 2 
        .column.is-1 Score: 0
        .column.is-1 Bags: 0
      .columns
        .column.is-1.is-offset-1 Bet: 0
        .column.is-1 Books: 0
        .column.is-1.is-offset-1 Bet: 0
        .column.is-1 Books: 0 
  .container
    .box
      h3.title <em>Table Cards</em>
        ul#table

  .container
    .box
      input(id='user_id', type='hidden', value=user.id)
      h3.title <em>Player Cards</em>
        form(action='/game/' + game_id + '/playCard', method='POST')
          ul#cards

  section.section.chat-container
    .container
      .columns
        .box.column.is-8.is-offset-2
          h2.title Chat box
          .chat-messages.has-text-left
            ul#messages
          form(id='chat-form')
            .field.has-addons
              input(id='room_id', type='hidden', value=game_id)
              input(id='name', type='hidden', value=user.username)
              p.control.is-expanded
                input(id='message', type='text', class='input' placeholder='Message')
              p.control
                input(type='submit', class='button is-success' value='Send')

  script(src='/scripts/chat.js')
  script(src='/scripts/game.js')
