extends layout

block content
  section.section
    .container
      .columns
        .column.is-1 Team 1 
        .column.is-1 Score: 0
        .column.is-1 Bags: 0
        .column.is-1 Team 2 
        .column.is-1 Score: 0
        .column.is-1 Bags: 0
      .columns
        .column.is-1.is-offset-1 Bet: 0
        .column.is-1 Books: 0
        .column.is-1.is-offset-1 Bet: 0
        .column.is-1 Books: 0 

  block content
    input#pageGameId(type='hidden' value=gameId)

    h3 Game #{gameId}, Player #{username} (#{playerId})

    h4 Cards on Table
    div.in_play_cards
      each card in inPlayCards
        a.card(class=`card-${card.suit}-${card.value}` title=card.name data-card-id=card.id)

    h4 Cards
    div.cards
      each card in player.cards
        a.card(class=`card-${card.suit}-${card.value}` title=card.name data-card-id=card.id)

    h4 Players
    ul
      each player in players
        li= JSON.stringify(player)

    h4 Error
      if error
        p#error= error

    h4 Game State
    #game-state-listing
      p= JSON.stringify(gameState)

  section.section.chat-container
    .container
      .columns
        .box.column.is-8.is-offset-2
          h2.title Chat box
          .chat-messages.has-text-left
            ul#messages
          form(id='chat-form')
            .field.has-addons
              input(id='room_id', type='hidden', value=gameId)
              input(id='name', type='hidden', value=username)
              p.control.is-expanded
                input(id='message', type='text', class='input' placeholder='Message')
              p.control
                input(type='submit', class='button is-success' value='Send')

  script(src='/scripts/chat.js')
  script(src='/scripts/game.js')
  script(src='/scripts/admin.js')
  
