extends layout

block content

  h1 GameRoom: #{game_id} Created by: #{user.username}

  section.section
    .container
      .columns
        .column.is-1
          p Team 1
        .column.is-1
          #team1-books
        .column.is-1
          #team1-bags
        .column.is-1
          #team1-bets
        .column.is-1
          #team1-score
        .column.is-1
          p Team 2
        .column.is-1
          #team2-books
        .column.is-1
          #team2-bags
        .column.is-1
          #team2-bets
        .column.is-1
          #team2-score 

  .container
    .box
      h3 Game Box
      #game-box

  .container
    .box
      input(id='user_id', type='hidden', value=user.id)
      h2.title Cards
        ul#cards

  section.section.chat-container
    .container
      .columns
        .box.column.is-8.is-offset-2
          h2.title Chat box
          .chat-messages.has-text-left
            ul#messages
          form(id='chat-form')
            .field.has-addons
              input(id='room_id', type='hidden', value=game_id)
              input(id='name', type='hidden', value=user.username)
              p.control.is-expanded
                input(id='message', type='text', class='input' placeholder='Message')
              p.control
                input(type='submit', class='button is-success' value='Send')

  script(src='/scripts/chat.js')
  script(src='/scripts/game.js') 