extends layout

block content

  h1 GameRoom: #{game_id} Created by: #{user.username} 

  section.section
    .container
      p Team 1
      #team1-books
      #team1-bags
      #team1-bets
      #team1-score
      p Team 2
      #team2-books
      #team2-bags
      #team2-bets
      #team2-score
  .container
    .box
      input(id='user_id', type='hidden', value=user.id)
      h2.title Cards
        ul#cards

  section.section.chat-container
    .container
      .columns
        .box.column.is-8.is-offset-2
          h2.title Chat box
          .chat-messages.has-text-left
            ul#messages
          form(id='chat-form')
            .field.has-addons
              input(id='room_id', type='hidden', value=game_id)
              input(id='name', type='hidden', value=user.username)
              p.control.is-expanded
                input(id='message', type='text', class='input' placeholder='Message')
              p.control
                input(type='submit', class='button is-success' value='Send')

  script(src='/scripts/chat.js')
  script(src='/scripts/game.js')
