extends layout

block content
  block content
    input#pageGameId(type='hidden' value=gameId)
    input#pagePlayerId(type='hidden' value=playerId)
    input#pagePlayerName(type='hidden' value=username)


    h3 Game #{gameId}, Player #{username} (#{playerId})

  
    .container
      .columns
        .column Team 1
          div.team1
        .column Team 2
          div.team2

    div.current_turn

    div.leading_suit

    h4 Cards on Table
    div.in_play_cards
      if inPlayCards
        each card in inPlayCards
          a.card(class=`card-${card.suit}-${card.value}` title=card.name data-card-id=card.id)

    div.player_message

    h4 Cards
    div.cards
      if player.cards
        each card in player.cards
          a.card(class=`card-${card.suit}-${card.value}` title=card.name data-card-id=card.id)

    h4 Players
    ul
      each player in players
        li= JSON.stringify(player)

    h4 Error
      if error
        p#error= error

    h4 Game State
    #game-state-listing
      p= JSON.stringify(gameState)

  section.section.chat-container
    .container
      .columns
        .box.column.is-8.is-offset-2
          h2.title Chat box
          .chat-messages.has-text-left
            ul#messages
          form(id='chat-form')
            .field.has-addons
              input(id='room_id', type='hidden', value=gameId)
              input(id='name', type='hidden', value=username)
              p.control.is-expanded
                input(id='message', type='text', class='input' placeholder='Message')
              p.control
                input(type='submit', class='button is-success' value='Send')

  script(src='/scripts/chat.js')
  script(src='/scripts/game.js')
  
